@import './assets/fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    scrollbar-gutter: stable;
    height: 100%;
  }

  body {
    @apply overflow-x-hidden;
    min-height: 100vh;
    min-height: 100svh;
  }
}

@layer components {
  .space-y-lg {
    @apply space-y-10 sm:space-y-14 xl:space-y-16;
  }

  .space-y-sm {
    @apply space-y-6 sm:space-y-8 xl:space-y-12;
  }

  .padding-y {
    @apply py-10 lg:py-16 2xl:py-20;
  }

  .padding-b {
    @apply pb-10 lg:pb-16 2xl:pb-20;
  }

  .margin-t {
    @apply mt-12 lg:mt-[52px];
  }

  .section-border {
    @apply border border-secondary/40;
  }

  .section-border-y {
    @apply border-y border-secondary/60;
  }

  .section-border-b {
    @apply border-b border-secondary/60;
  }

  .section-border-t {
    @apply border-t border-secondary/60;
  }
}

/* Input styles */
.input-container:has(input:-webkit-autofill) label,
.input-container:has(input:autofill) label {
  transform: translateY(-20px);
  opacity: 0;
  font-size: 0.75rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.no-appearance-underline {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;

  -webkit-tap-highlight-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;

  border-radius: 0;
  background-image: none;
  background-color: transparent;

  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid currentColor;

  outline: none;
}

/* Scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Blur effects */
.custom-blur::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  z-index: -1;
}

/* Fancybox */
.f-panzoom__content {
  display: block;
  border-radius: 4px;
}

.f-button.is-arrow.is-prev,
.f-button.is-arrow.is-next {
  color: rgb(255 255 255);
  background: rgb(255 255 255 / 0.05);

  padding: 0.3rem;
  backdrop-filter: blur(4px);

  transition:
    transform 300ms,
    background-color 300ms;
}

.f-button.is-arrow.is-prev:hover,
.f-button.is-arrow.is-next:hover {
  background-color: rgb(255 255 255 / 0.1);
}

.f-carousel__toolbar__column .f-button {
  background: rgb(255 255 255 / 0.05);
  backdrop-filter: blur(4px);
  color: #fff;
}

.f-carousel__toolbar__column .f-button:hover {
  background: rgb(255 255 255 / 0.1);
  backdrop-filter: blur(4px);
  color: #fff;
}

/* IOS */

@supports (-webkit-touch-callout: none) {
  /* iOS-specific styles */
  .banner-ios-fix {
    height: -webkit-fill-available;
    min-height: -webkit-fill-available;
  }

  /* Prevent URL bar resize */
  html.ios-fix {
    height: 100%;
    overflow: hidden;
  }

  body.ios-fix {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
